<!DOCTYPE html>
<html lang="en" ng-app="rijMuse">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rijksmuseum VR</title>
    <!--link to a-frame cdn-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aframe/0.5.0/aframe.js"></script>
    <script src="https://code.angularjs.org/1.6.3/angular.js"></script>
    <script src="https://code.angularjs.org/1.6.3/angular-route.js"></script>
    <script src="app.js"></script>
    <script src = "./factories/galleryFactory.js"></script>
    <script src = "./factories/canvasFactory.js"></script>
    <script src = "./controllers/galleryController.js"></script>
    
</head>
<body ng-controller="galleryController">
    <!--<div>{{theGallery}}</div>-->
    <a-scene>
        
        <!--camera-->
        <a-camera position="0 1.5 -9.25" rotation="0 90 0"><a-cursor color="#610026"></a-cursor></a-camera>

        <!--Gallery Text-->
        <!--Entry Intro Text-->
        <a-entity text="height: 5.42; opacity: 1; value: Welcome to Gallery Wolfenstein!; width: 9.94; zOffset: 0" rotation="0 90 0" position="-4.59 4.83 -11.62"></a-entity>
        <a-entity text="height: 5.42; opacity: 1; value: For mouse and keyboard, \n click and drag to look around; align: center; width: 9.94; zOffset: 0" rotation="0 90 0" position="-4.59 2.83 -10.07"></a-entity>
        <a-entity text="height: 3.04; opacity: 1; value: Press button to enter; width: 2.6; zOffset: 0" position="3.42 2.31 -14.47"></a-entity>
        <!--Button Labels-->
        <a-entity text="align:center;color:#ffffff;height:2.94;opacity:1;value:Masterpiece Collection;width:1.98;zOffset:0" position="2.23 2.64 -19.02"></a-entity>
        <a-entity text="align:center;color:#ffffff;height:2.94;opacity:1;value:Gothic (1150 - 1500);width:1.98;zOffset:0" position="2.23 2.64 -19.02"></a-entity>
        <a-entity text="align:center;color:#ffffff;height:2.94;opacity:1;value:Renaissance (1400 - 1600);width:1.98;zOffset:0" position="2.23 2.64 -19.02"></a-entity>
        <a-entity text="align:center;color:#ffffff;height:2.94;opacity:1;value:Mannerism (~1520);width:1.98;zOffset:0" position="2.23 2.64 -19.02"></a-entity>
        <a-entity text="align:center;color:#ffffff;height:2.94;opacity:1;value:Baroque (1600 - 1750);width:1.98;zOffset:0" position="2.23 2.64 -19.02"></a-entity>
        <a-entity text="align:center;color:#ffffff;height:2.94;opacity:1;value:Rococo (1723 - 1774);width:1.98;zOffset:0" position="2.23 2.64 -19.02"></a-entity>
        <a-entity text="align:center;color:#ffffff;height:2.94;opacity:1;value:Classicism (1650 - 1720);width:1.98;zOffset:0" position="2.23 2.64 -19.02"></a-entity>
        <a-entity text="align:center;color:#ffffff;height:2.94;opacity:1;value:Italianates (1623 - );width:1.98;zOffset:0" position="2.23 2.64 -19.02"></a-entity>
        <!--Front Wall Text-->
        <a-entity id="galleryText" text="value: {{theGallery.text}}; anchor: left; baseline: top; height: 8.84; opacity: 1; width: 10.559999999999999; wrapCount: 69.48; zOffset: 0" position="-5.59 7.30 -32.82"></a-entity>

        <!--texture asset-->
        <a-assets>
            <!--3d models-->
            <a-asset-item id="tree" src="./images/star-wars-vader-tie-fighter.dae"></a-asset-item>
            <a-asset-item id="chair" src="./images/chair2.dae"></a-asset-item>
            <!--textures-->
            <img id="floorTexture" src="./images/seamlessWood.jpg">
            <img id="wallTexture" src="./images/wall1.jpg">
            <img id="partition" src="./images/blackMarble.jpg">
            <img id="metal" src="./images/metal.jpg">
            <img id="floor" src="./images/carpet.jpg">
            <img id="ceiling" src="./images/ornateCeiling2.jpg">
            
            <img id="splash" src="{{theGallery.splash}}">
            
            
            
        </a-assets>

        <!--load partials-->
        <div ng-view>
            
        </div>

        <!--base entrance hallway-->
            <!--floor-->
        <a-box position="0 -1 -10" color="#BABDCE" opacity="1" depth="10" height=".01" width="10"></a-box>
            <!--ceiling-->
        <a-box position="0 9 -10" color="#1F2130" opacity="1" depth="10" height=".01" width="10"></a-box>
            <!--walls-->
        <a-box position="5 4 -10" color="#6173F4" opacity="1" depth="10" height="10" width=".01"></a-box>
        <a-box position="-5 4 -10" color="#6173F4" opacity="1" depth="10" height="10" width=".01"></a-box>
        <!--elevator wall-->
            <!--l/r of elevator door-->
        <a-box position="-3.5 4 -15" color="#6173F4" opacity="1" depth=".01" height="10" width="3"></a-box>
        <a-box position="3.5 4 -15" color="#6173F4" opacity="1" depth=".01" height="10" width="3"></a-box>
            <!--above elevator door-->
        <a-box position="0 7.5 -15" color="#6173F4" opacity="1" depth=".01" height="4" width="4"></a-box>

        <!--call elevator-->
            <!--panel-->
        <a-box position="2.7 1.5 -14.89" opacity="1" depth=".175" height="1.3" width="1" material="src:#metal; repeat: 0.5 0.5; side: both; shader: flat"></a-box>
            <!--call button-->
        <a-entity id="mainDoor" geometry="primitive: cylinder; height: .12; radius: .12" material="side: double; color:#0E4D3A" rotation="0 90 90"  position="2.7 1.75 -14.77"><a-animation begin="click" easing="ease-in" attribute="position" fill="backwards" from="2.7 1.75 -14.77" to="2.7 1.75 -14.82" repeat="1" direction="alternate" dur="99"></a-animation></a-entity>

        <!--elevator-->
            <!--floor-->
        <a-box position="0 -1 -17.25" opacity="1" depth="4.5" height=".01" width="10" material="src:#floor; repeat: 1 0.8; side: both; shader: flat"></a-box>
            <!--ceiling-->
        <a-box position="0 5.5 -17.25" color="#1F2130" opacity="1" depth="4.5" height=".01" width="10"></a-box>
            <!--walls-->
        <a-box position="3.5 2.5 -17.25" color="#6173F4" opacity="1" depth="4.5" height="7" width=".01"></a-box>
        <a-box position="-3.5 2.5 -17.25" color="#6173F4" opacity="1" depth="4.5" height="7" width=".01"></a-box>
        <!--back elevator wall-->
            <!--l/r of elevator door-->
        <a-box position="-3.5 4 -19.5" color="#6173F4" opacity="1" depth=".01" height="10" width="3"></a-box>
        <a-box position="3.5 4 -19.5" color="#6173F4" opacity="1" depth=".01" height="10" width="3"></a-box>
            <!--above elevator door-->
        <a-box position="0 6.5 -19.5" color="#6173F4" opacity="1" depth=".01" height="4" width="4"></a-box>

        <!--sliding doors-->
            <!--front doors-->
        <a-box id="flDoor" position="-1.1 2.2 -15.06" color="#125749" opacity="0.988" depth=".06" height="6.75" width="2.22">
            <a-animation begin="backDoors" easing="ease-in-out" attribute="position" fill="backwards" from="-1.1 2.2 -15.06" to="-3.32 2.2 -15.06" repeat="1" direction="alternate" dur="2000"></a-animation>
        </a-box>
        <a-box id="frDoor" position="1.1 2.2 -15.06" color="#125749" opacity="0.988" depth=".06" height="6.75" width="2.22"><a-animation begin="backDoors" easing="ease-in-out" attribute="position" fill="backwards" from="1.1 2.2 -15.06" to="3.32 2.2 -15.06" repeat="1" direction="alternate" dur="2000"></a-animation></a-box>
            <!--back doors-->
        <a-box id="blDoor" position="-1.1 1.75 -19.59" color="#125749" opacity="0.988" depth=".06" height="5.8" width="2.22"><a-animation begin="backDoors" easing="ease-in-out" attribute="position" fill="backwards" from="-1.1 1.75 -19.59" to="-3.32 1.75 -19.59" repeat="1" direction="alternate" dur="2000"></a-animation></a-box>
        <a-box id="brDoor" position="1.1 1.75 -19.59" color="#125749" opacity="0.988" depth=".06" height="5.8" width="2.22"><a-animation begin="backDoors" easing="ease-in-out" attribute="position" fill="backwards" from="1.1 1.75 -19.59" to="3.32 1.75 -19.59" repeat="1" direction="alternate" dur="2000"></a-animation></a-box>


        <!--elevator controlls-->
            <!--rightpanel-->
        <a-box position="2.7 2.3 -19.375" material="src:#metal; repeat: 0.5 0.5; side: both; shader: flat" opacity="1" depth=".225" height="2.3" width="1.25"></a-box>
            <!--buttons-->
                <!--TOP LEFT-->
        <a-entity id="rembrandt" ng-click="getGallery('rembrandt')" geometry="primitive: cylinder; height: .12; radius: .12" position="2.93 3.05 -19.2" material="side: double; color:#0E4D3A" rotation="0 90 90" opacity="1" depth=".11" height=".15" width=".15"><a-animation begin="click" easing="ease-in" attribute="position" fill="backwards" from="2.5 2.05 -19.2" to="2.5 2.05 -19.30" repeat="1" direction="alternate" dur="99"></a-animation></a-entity>
                <!--TOP RIGHT-->
        <a-entity id="vanGoh" ng-click="getGallery('vanGogh')" geometry="primitive: cylinder; height: .12; radius: .12" position="2.93 2.55 -19.2" material="side: double; color:#0E4D3A" rotation="0 90 90" opacity="1" depth=".11" height=".15" width=".15"><a-animation begin="click" easing="ease-in" attribute="position" fill="backwards" from="2.93 2.05 -19.2" to="2.93 2.05 -19.30" repeat="1" direction="alternate" dur="99"></a-animation></a-entity>
                <!--LOW LEFT-->
        <a-entity id="vermeer" ng-click="getGallery('vermeer')" geometry="primitive: cylinder; height: .12; radius: .12" position="2.93 2.05 -19.2" material="side: double; color:#0E4D3A" rotation="0 90 90" opacity="1" depth=".11" height=".15" width=".15"><a-animation begin="click" easing="ease-in" attribute="position" fill="backwards" from="2.5 1.55 -19.2" to="2.5 1.55 -19.30" repeat="1" direction="alternate" dur="99"></a-animation></a-entity>
                <!--LOW RIGHT-->
        <a-entity id="paper" class="button" ng-click="getGallery('paper')" geometry="primitive: cylinder; height: .12; radius: .12" position="2.93 1.55 -19.2" material="side: double; color:darkred" rotation="0 90 90" opacity="1" depth=".11" height=".15" width=".15"><a-animation begin="click" easing="ease-in" attribute="position" fill="backwards" from="2.93 1.55 -19.2" to="2.93 1.55 -19.30" repeat="1" direction="alternate" dur="99"></a-animation></a-entity>
        
        <!--leftpanel-->
        <a-box position="-2.7 2.3 -19.375" material="src:#metal; repeat: 0.5 0.5; side: both; shader: flat" opacity="1" depth=".225" height="2.3" width="1.25"></a-box>
            <!--buttons-->
                <!--TOP LEFT-->
        <a-entity id="rembrandt" ng-click="getGallery('rembrandt')" geometry="primitive: cylinder; height: .12; radius: .12" position="-2.93 3.05 -19.2" material="side: double; color:#0E4D3A" rotation="0 90 90" opacity="1" depth=".11" height=".15" width=".15"><a-animation begin="click" easing="ease-in" attribute="position" fill="backwards" from="-2.5 2.05 -19.2" to="-2.5 2.05 -19.30" repeat="1" direction="alternate" dur="99"></a-animation></a-entity>
                <!--TOP RIGHT-->
        <a-entity id="vanGoh" ng-click="getGallery('vanGogh')" geometry="primitive: cylinder; height: .12; radius: .12" position="-2.93 2.55 -19.2" material="side: double; color:#0E4D3A" rotation="0 90 90" opacity="1" depth=".11" height=".15" width=".15"><a-animation begin="click" easing="ease-in" attribute="position" fill="backwards" from="-2.93 2.05 -19.2" to="-2.93 2.05 -19.30" repeat="1" direction="alternate" dur="99"></a-animation></a-entity>
                <!--LOW LEFT-->
        <a-entity id="vermeer" ng-click="getGallery('vermeer')" geometry="primitive: cylinder; height: .12; radius: .12" position="-2.93 2.05 -19.2" material="side: double; color:#0E4D3A" rotation="0 90 90" opacity="1" depth=".11" height=".15" width=".15"><a-animation begin="click" easing="ease-in" attribute="position" fill="backwards" from="-2.5 1.55 -19.2" to="-2.5 1.55 -19.30" repeat="1" direction="alternate" dur="99"></a-animation></a-entity>
                <!--LOW RIGHT-->
        <a-entity id="paper" ng-click="getGallery('paper')" geometry="primitive: cylinder; height: .12; radius: .12" position="-2.93 1.55 -19.2" material="side: double; color:darkred" rotation="0 90 90" opacity="1" depth=".11" height=".15" width=".15"><a-animation begin="click" easing="ease-in" attribute="position" fill="backwards" from="-2.93 1.55 -19.2" to="-2.93 1.55 -19.30" repeat="1" direction="alternate" dur="99"></a-animation></a-entity>

        <!--main gallery-->
            <!--floor-->
        <a-box material="src:#floorTexture; repeat: 2.5 6.5; shader: flat" position="0 -1 -39.5" opacity="1" depth="40" height=".01" width="35"></a-box>
            <!--ceiling-->
        <a-box position="0 11 -39.5" material="src:#ceiling; repeat: 3 4; shader: flat" opacity="1" depth="40" height=".01" width="35"></a-box>
            <!--l/r walls-->
        <a-box material="src:#wallTexture; repeat: 13 5; side: both; shader: flat" position="-17.5 5 -39.5"  opacity="1" depth="40" height="12" width=".01"></a-box>
        <a-box material="src:#wallTexture; repeat: 13 5; side: both; shader: flat" color="#C6C5CA" position="17.5 5 -39.5"  opacity="1" depth="40" height="12" width=".01"></a-box>
            <!--back wall-->
        <a-box position="0 5 -59.5" material="src:#wallTexture; repeat: 15 5; shader: flat" opacity="1" depth=".01" height="12" width="35"></a-box>
        <!--near wall-->
            <!--l/r-->
        <a-box position="-9.75 5 -19.63" color="#C6C5CA" opacity="1" depth=".01" height="12" width="15.5" material="src:#wallTexture; repeat: 5 5; side: both; shader: flat"></a-box>
        <a-box position="9.75 5 -19.63" color="#C6C5CA" opacity="1" depth=".01" height="12" width="15.5" material="src:#wallTexture; repeat: 5 5; side: both; shader: flat"></a-box>
            <!--top-->
        <a-box position="0 8 -19.63" color="#C6C5CA" opacity="1" depth=".01" height="7" width="10" material="src:#wallTexture; repeat: 5 5; side: both; shader: flat"></a-box>
            <!--separators-->
                <!--left-->
        <a-box position="-11.5 5 -47" opacity="1" depth=".35" height="12" width="12" material="src:#partition; repeat: 2 2; side: both; shader: flat" color="#EEFEFF"></a-box>
                <!--right-->
        <a-box position="11.5 5 -47" opacity="1" depth=".35" height="12" width="12" material="src:#partition; repeat: 2 2; side: both; shader: flat" color="#EEFEFF"></a-box>
                <!--center-->
        <a-box position="0 4 -33" opacity="1" depth=".35" height="10" width="12" material="src:#partition; repeat: 2 2; side: both; shader: flat" color="#EEFEFF"></a-box>
                <!--splash plane-->
            <!--<a-box position="0 5 -32.82" opacity="1" depth=".01" height="12" width="12" material="src:#splash; repeat: 1 1; side: both; shader: flat"></a-box>-->
        <!--<a-box position="0 4 -32.82" opacity="1" depth=".01" height="10" width="12" material="shader: flat" src="{{theGallery.splash}}"></a-box>-->
            


        <!--canvases-->
        <a-box id="1" position="-10 3 -19.69" material="shader: flat; src:{{theGallery.artList[0].url}}" opacity="1" depth=".04" height="{{theGallery.artList[0].height}}" width="{{theGallery.artList[0].width}}"></a-box>

        <a-box id="2" position="-17.5 3 -27.5" material="shader: flat; src:{{theGallery.artList[1].url}}" opacity="1" depth="{{theGallery.artList[1].width}}" height="{{theGallery.artList[1].height}}" width="0.04"></a-box>

        <a-box id="3" position="-17.5 3 -38.75" material="shader: flat; src:{{theGallery.artList[2].url}}" opacity="1" depth="{{theGallery.artList[2].width}}" height="{{theGallery.artList[2].height}}" width="0.04"></a-box>

        <a-box id="4" position="-11.5 3 -46.8" material="shader: flat; src:{{theGallery.artList[3].url}}" opacity="1" depth=".04" height="{{theGallery.artList[3].height}}" width="{{theGallery.artList[3].width}}"></a-box>

        <a-box id="5" position="-11.5 3 -47.2" material="shader: flat; src:{{theGallery.artList[4].url}}" opacity="1" depth=".04" height="{{theGallery.artList[4].height}}" width="{{theGallery.artList[4].width}}"></a-box>

        <a-box id="6" position="-17.5 3 -53.2" material="shader: flat; src:{{theGallery.artList[5].url}}" opacity="1" depth="{{theGallery.artList[5].width}}" height="{{theGallery.artList[5].height}}" width="0.04"></a-box>

        <a-box id="7" position="-10 3 -59.4" material="shader: flat; src:{{theGallery.artList[6].url}}" opacity="1" depth=".04" height="{{theGallery.artList[6].height}}" width="{{theGallery.artList[6].width}}"></a-box>

        <a-box id="8" position="0 3 -59.4" material="shader: flat; src:{{theGallery.artList[7].url}}" opacity="1" depth=".04" height="{{theGallery.artList[7].height}}" width="{{theGallery.artList[7].width}}"></a-box>

        <a-box id="9" position="10 3 -59.4" material="shader: flat; src:{{theGallery.artList[8].url}}" opacity="1" depth=".04" height="{{theGallery.artList[8].height}}" width="{{theGallery.artList[8].width}}"></a-box>

        <a-box id="10" position="17.5 3 -53.2" material="shader: flat; src:{{theGallery.artList[9].url}}" opacity="1" depth="{{theGallery.artList[9].width}}" height="{{theGallery.artList[9].height}}" width="0.04"></a-box>

        <a-box id="11" position="11.5 3 -47.2"  material="shader: flat; src:{{theGallery.artList[10].url}}" opacity="1" depth=".04" height="{{theGallery.artList[10].height}}" width="{{theGallery.artList[10].width}}"></a-box>

        <a-box id="12" position="11.5 3 -46.8" material="shader: flat; src:{{theGallery.artList[11].url}}" opacity="1" depth=".04" height="{{theGallery.artList[11].height}}" width="{{theGallery.artList[11].width}}"></a-box>

        <a-box id="13" position="17.5 3 -38.75" material="shader: flat; src:{{theGallery.artList[12].url}}" opacity="1" depth="{{theGallery.artList[12].width}}" height="{{theGallery.artList[12].height}}" width="0.04"></a-box>

        <a-box id="14" position="17.5 3 -27.5" material="shader: flat; src:{{theGallery.artList[13].url}}" opacity="1" depth="{{theGallery.artList[13].width}}" height="{{theGallery.artList[13].height}}" width="0.04"></a-box>

        <a-box id="15" position="10 3 -19.69" material="shader: flat; src:{{theGallery.artList[14].url}}" opacity="1" depth=".04" height="{{theGallery.artList[14].height}}" width="{{theGallery.artList[14].width}}"></a-box>

        <a-box id="16" position="0 3 -33.22" material="shader: flat; src:{{theGallery.artList[15].url}}" opacity="1" depth=".04" height="{{theGallery.artList[15].height}}" width="{{theGallery.artList[15].width}}"></a-box>


        <!--tie fighter for reasons-->
        <a-entity collada-model="#tree" position="0 8.9 -21" rotation="25 180 0"></a-entity>

        <!--furniture-->
        <!--<a-entity collada-model="#chair" position="5 -.6 -24" scale=".1 .1 .1"></a-entity>-->
        


            <!--environment-->
        <a-sky color="#FF704E"></a-sky>
    </a-scene>
    <script src="script.js"></script>
</body>
</html>